body{
	margin: 0;
	padding: 0;	
}
.header{
	width: 100%;
	float: left;	
}
.header-wrap{ 
	/*height: 5%;*/
	background: #009DF0 none repeat scroll 0% 0%;
	min-height: 42px;
	float: left;
	width: 100%;
}
.VA009-assign-tittle {
   margin: 10px 0px 0px 10px;
	float: left;
	position: absolute;
	font-family: helvetica;
	font-weight: 500;
	color: #FFF;
	font-size: 18px;
}
.VA009-btn-close {
    width: 40px;
	height:29px;
    background: url('../Images/close.png');
    background-color: #616364;
    float: left;
    background-repeat: no-repeat;
   padding-top: 24px;
    padding-bottom: 18px;
    cursor: pointer;
    background-position: center;
    border: 0px;
    margin: 0;
}
.VA009-Duedate-span
{
     cursor: pointer;
     padding: 1%;
}
.VA009-Duedate-li
{
    margin-top: 4%;
}
.VA009-topRight{
    float: right;
}
.clear-both{
	clear: both;
}
.VA009-assign-content, .VA009-main-container, .VA009-left-title, .VA009-left-data, .VA009-left-data > label, .VA009-left-data > select, .VA009-value-list, .VA009-mid-top-wrap, .VA009-mid-search, .VA009-payment-wrap, .VA009-right-part, .VA009-pay-amount, .VA009-right-content, .VA009-right-data-main, .VA009-right-data, .VA009-data-top, .VA009-data-bot{
    float: left;
    width: 100%;
}
/*
.payment-list .payment-wrap:hover
{
   border: 2px solid #1aa0ed;
   padding: 10px
}*/
.VA009-payment-list
{
     float: left;
    width: 100%;
    overflow-y: scroll;
overflow-x: hidden;
height: 650px;
}

.VA009-assign-content{
  position: relative;
  height: 100%;
} 
.VA009-main-container{
    position: absolute;
    height: 100%;
    background-color: white;
}
.VA009-left-part{
    float: left;
    background: #575757;
    height: 100%;
    width: 100%;
    color: #fff;
}
.VA009-left-title{  
    background-color: #444243;
    border-bottom: 1px solid #fff;
    padding-bottom: 7px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 15px;
}
.VA009-left-title > h4{
    color: #fff;
    font-size: 14px;
    padding: 20px 14px;
    margin: 0;
    float: left;
}
.VA009-left-data{
    padding: 10px 10px 0 10px;
}
.VA009-left-data > select > option {
color: white;
background: #575757;
}
.VA009-left-data > label{
    color: #fff;
    font-weight: normal;
    margin-bottom: 0;
}
.VA009-left-data > select{
    background: url(../Images/down-arrow.png) no-repeat 97% 50% transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.row
{
    margin-right: -8px;
}
.VA009-left-data > select, .VA009-left-data > input{
    border: 1px solid #fff;
    color: #fff;
    height: 31px;
     margin-right: 5px;
     background-color: transparent;
     width: 100%;
}
/*.VA009-value-list{ margin-top: 10px;}*/
.VA009-value-list > ul{
      list-style: none;
    margin: 0;
    padding: 0;
}
.VA009-value-list>ul li {
    padding-top: 5px;
}

.VA009-value-list span{
    color: #fff;
    margin-left: 10px;
}
.VA009-left-data > h5{ font-size: 16px; margin-bottom: 0;}
.VA009-main-content-wrap{
    float: left;
    width: 82%;
}
.VA009-cross-btn
{
    cursor:pointer;
}
.VA009-content-area{
     float: left;
    width: 100%;
    height: 97%;
    margin-top: 10px;
}
.VA009-middle-wrap{
    float: left;
    width: 60%;
    border-right: 1px solid #ccc;
    height: 100%;
    padding: 0 10px;
}
.VA009-tabs-wrap, .VA009-search-wrap{ float: left;}
.VA009-icons-wrap, .VA009-selected-text{ float: right;}
ul.VA009-tabs{
    list-style: none;
    margin: 0;
    border-bottom: 2px solid #fff;
    padding: 0;
    width: 100%;
    float: left;
}
ul.VA009-tabs > li{
    float: left;
    background: #616364;
    color: #fff;
    padding: 6px 10px;
    cursor: pointer;
    margin-right: 1px;
    text-align: center;
}
ul.VA009-tabs > li.VA009-active-tab{ background: #1aa0ed;}
ul.VA009-right-tabs > li{ padding: 8px 15px;}
ul.VA009-tabs, ul.VA009-right-tabs{
      list-style: none;
    margin: 0;
    border-bottom: none;
    padding: 0;
    width: 100%;
    float: left;
}
.VA009-icons-wrap {
    height: 36px;
    display: flex;
    align-items: center;
}

ul.VA009-tabs > li, ul.VA009-right-tabs > li{
     float: left;
    background: #616364;
    color: #fff;
    padding: 8px 15px;
    cursor: pointer;
    margin-right: 1px;
    text-align: center;
}
ul.VA009-tabs > li.VA009-active-tab, ul.VA009-right-tabs > li.VA009-active-tab{ background: #1aa0ed;}
ul.VA009-right-tabs > li{ padding: 8px 15px;}
.VA009-icons-wrap > span{    
     margin-left: 15px;
    /*/ margin-top: 10px; /*/
    float: left;
    cursor: pointer;
}
.VA009-icons-wrap img{
    filter: gray; 
    filter: grayscale(1); 
    -webkit-filter: grayscale(1); 
}
.VA009-mid-search{ 
   margin-top: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.VA009-search-wrap{ width: 45%;}
.VA009-search-wrap > input{
    border: 1px solid #CCC;
    height: 31px;
    padding-left: 5px;
    float: left;
    outline: medium none;
    border-radius: 0px;
    width: calc(100% - 31px);
}
.VA009-toggle-btn
{
    cursor: pointer;
}
.VA009-selectall {
    float: left;
}
    .VA009-selectall > input {
        float: left;
        margin-left: 0;
    }
    .VA009-selectall > label {
        font-weight: normal;font-size: 13px;margin-left: 3px;
    }

.VA009-search-icon {
    float: left;
    width: 31px;
    height: 31px;
    background: #eee;
    border: 1px solid #ccc;
    color: #999;
    text-align: center;
}
.VA009-search-icon > span{ line-height: 28px;}
.VA009-selected-text > p{
    color: #1aa0ed;
    margin-top: 5px;
}
.VA009-payment-wrap{
    border-bottom: 1px solid #ccc;
    padding: 10px 10px 10px 0;
}
.VA009-payment-wrap:hover{ 
    border-top: 2px solid #1aa0ed;
    border-bottom: 2px solid #1aa0ed;
    background: #e4e4e4;
}
.VA009-payment-wrap input{ float: left; margin: 0;}
.VA009-pay-left, .VA009-pay-img-wrap{
    float: left;
}
.VA009-pay-left{ width: 91%;}
.VA009-pay-img-wrap{
    margin-left: 10px;
    margin-right: 10px;
}
.VA009-pay-img{
    background: #1aa0ed;
    border-radius: 3px;
    float: left;
    padding: 15px;
   
}
.VA009-pay-img > img{ 
    filter: drop-shadow(2px 2px 5px #666);
    -moz-filter: drop-shadow(2px 2px 5px #666);
    -webkit-filter: drop-shadow(2px 2px 5px #666);
}
.VA009-pay-status{
    display: block;
    font-size: 11px;
    color: #2ca02c;
    text-align: center;
}
.VA009-transactionType {
text-align:center;
}
.VA009-pay-text{ 
    display: inline;
    float: left;
    width: 58%;
}
.VA009-pay-text > p{
    color: #535353;
    font-size: 14px;
    margin: 0;
}
.VA009-pay-text > span{
    font-size: 12px;
    color: #999;
    display: block;
}
.VA009-pay-mid-sec{ padding: 0;}
.VA009-pay-mid-sec > span{
    font-size: 12px;
    color: #535353;
}
.VA009-pay-mid-sec > span.VA009-play-icon{
    font-size: 10px;
}
.VA009-color-gray{ color: #999 !important;}
.VA009-Chatcolor-gray{ color: #999 !important;}
.VA009-right-part > span, .VA009-pay-amount > span{ float: right;}
.VA009-right-part > span{  cursor: pointer;
    font-size: 16px;
    margin-right: 10px;}
.VA009-right-part>span:first-child {
    margin-right: 0;
}
.VA009-pay-amount, .VA009-right-content{
    margin-top: 10px;
}
span.VA009-info-icon{
    width: 16px;
    height: 16px;
    float: right;
    background: url(../Images/info.png);
    cursor: pointer;
    margin-left: 0px;
}
.VA009-right-wrap{
   float: left;
    padding: 0 10px 0 10px;
    width: 40%;
    height: 100%;
}
.VA009-right-content
{ 
     border-top: 1px solid #ccc;
    height: calc(100% - 45px);
    overflow: auto;
}
.VA009-right-data-main{ 
    border-bottom: 1px solid #ccc;
}
.VA009-right-data-main h5{
    color: #535353;
    font-weight: 600;
    font-size: 15px;
}
.VA009-right-data
{
    padding-right: 10px;
}
.VA009-right-data > h5{ font-size: 18px; float: left;}
.VA009-right-data p{ margin-bottom: 5px;}
.VA009-right-data span{ color: #666;}
.VA009-data-bot > span{ font-size: 13px;}
.VA009-color-green{ color: #2ca02c !important;float: right;}
.VA009-color-red{ color: #e51c1c !important; float: right;}
.VA009-bottom-10{ margin-top: 10px !important;}
.VA009-total-right{ margin-top: 10px;}
.VA009-total-right span{ display: block; text-align: right;}
.VA009-total-right span a{ text-decoration: none;}


/*pop up css*/

.VA009-popform-content {
    float: left;
    width: 100%;
    padding: 0px;
}
.VA009-popfrm-wrap, .VA009-table-container{ float: left; width: 100%; height:260px;}

.VA009-grid-container {
    float:left;
    width:100%;
    padding:8px 0px 0px;
}

.VA009-popCheck-data {
    width: 33.333%;
    float: left;
    margin-bottom: 10px;
    position: relative;
    padding: 0 8px 0 0;
}

.VA009-popCheck-data > label {
    width: 100%;
    font-weight: normal;
    color: #535353;
    font-size: 14px;
    margin-bottom: 0px;
}
.VA009-popCheck-data > input[type="text"],.VA009-popCheck-data > input[type="date"],.VA009-popCheck-data > input[type="number"], .VA009-popCheck-data > select,.VA009-popCheck-data > input[type="checkbox"] {
    border: 1px solid #CCC;
    padding: 6px 10px;
    width: 100%;
    color: #848484;
    font-size: 13px;
    resize: none;
    outline: medium none;
}

.VA009-popCheck-data > input[type=date] {
    line-height: inherit;
}

.VA009-popform-data {
    width: 49%;
    float: left;
    margin-bottom: 10px;
    position: relative;    
}
.VA009-popform-data:nth-child(odd){ margin-right: 10px;}
.VA009-popform-data:nth-child(even) {
    padding-left: 10px;
}

.VA009-popfrm-wrap {
    padding-left: 10px;
}
.VA009-popform-data > label {
    width: 100%;
    font-weight: normal;
    color: #535353;
    font-size: 14px;
    margin-bottom: 0px;
}
.VA009-popform-data > input[type="text"],.VA009-popform-data > input[type="date"],.VA009-popform-data > input[type="number"], .VA009-popform-data > select,.VA009-popform-data > input[type="checkbox"] {
    border: 1px solid #CCC;
    padding: 6px 10px;
    width: 100%;
    color: #848484;
    font-size: 13px;
    resize: none;
    outline: medium none;
}

.VA009-chkboxConsolidate {
    border: 1px solid #CCC;
    padding: 6px 10px;
    width: 100%;
    color: #848484;
    font-size: 13px;
    resize: none;
    outline: medium none;
}

.VA009-popform-data > input[type=date] {
    line-height: inherit;
}

.VA009-b2b-popup label {
    width: auto;
}

.VA009-b2b-popup a {
    float: right;
    font-size: 14px;
    color: #1aa0ed;
    cursor: pointer;
    text-decoration: underline;
}

.VA009-pop-file > input[type="text"]{ width: 81%; float: left;}
.VA009-left-btn{ float: left;}
.VA009-right-btn{ float: right;}
.VA009-blueBtn {
    background: #1AA0ED none repeat scroll 0% 0%;
    border-radius: 0px;
    color: #FFF;
    font-size: 13px;
    margin-right: 10px;
    margin-top: 10px;
}
.VA009-grayBtn {
    background: #626365 none repeat scroll 0% 0%;
    border-radius: 0px;
    color: #FFF;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 10px;
}
.VA009-blueBtn:hover, .VA009-grayBtn:hover{ color: #fff;}

.VA009-accordion .panel-group {
    margin-bottom: 10px;
}

.VA009-panel-head-total {
    width: 100%;
    display: inline-block;
    margin: 0;
}

.VA009-accordion .panel-heading {
    padding: 8px 10px 7px;
}

span.VA009-head-currency-name {
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
    padding-bottom: 5px;
    display: inline-block;
}

.VA009-panel-head-total p {
    margin-bottom: 5px;
    font-size: 12px;
}
.panel-body p {
    margin-bottom: 5px;
    font-size: 12px;
}
.VA009-right-data-main p {
     margin-bottom: 5px;
    font-size: 12px;
}
.VA009-panel-head-total p:last-child {
    margin-bottom: 0;
}
.pull-head {
    float: left;
    width: 100%;
    text-decoration: underline;
    font-weight: 600;
    font-size: 12px;
}

.VA009-accordion .panel-title>a:hover {
    color: #333;
}

.VA009-accordion .panel-default>.panel-heading {background-image: none;}

.VA009-accordion .panel-body {padding: 5px 10px;}

.VA009-accordion .VA009-data-top {
}

.VA009-accordion .panel-title>a {
    font-size: 14px;
    font-weight: 600;
    display: block;
    color: #333;
}

.VA009-accordion .panel-title>a p.VA009-panel-head-total {
    font-weight: normal;
}

.VA009-panel-head-total p span {
    font-size: 12px;
}

.VA009-panel-head-total p a {
    font-size: 12px;
}

p.VA009-data-bot:last-child {
    margin: 0;
}

.VA009-accordion {
    float: left;
    width: 100%;
    height: 100%;
}

/* media*/

@media (max-width: 1366px){
    .VA009-pay-text{ width: 50%;}
}
@media (max-width: 1280px){
    ul.VA009-tabs > li{
        font-size: 13px;
    
    }
    .VA009-pay-text{ width: 47%;}
}
@media (max-width: 1200px){
    ul.VA009-tabs > li{
        font-size: 12px;
        max-width: 73px;
        padding: 6px 3px;
    }
    .VA009-pay-text { width: 46%; }
    .VA009-pay-left { width: 90%; }
    .VA009-pay-amount > span{ font-size: 13px;}
    .VA009-sm-padd{
        padding-left: 10px !important;
        padding-right: 0px !important;
    }
    .VA009-width-sm-40{ width: 43% !important;}
    .VA009-width-sm-35{ width: 32% !important;}
    .VA009-selected-text > p{ font-size: 13px;}
    .VA009-pay-img{ padding: 8px;    }
}
@media (max-width: 1152px)
{
    .VA009-pay-left {
        width: 89%;
    }
    .VA009-pay-text {
    width: 43%;
    }
}
@media (max-width: 800px)
{
    .VA009-pay-left {
        width: 88%;
    }
    .VA009-pay-text {
    width: 26%;
    }
    .VA009-search-wrap {
width: 65%;
}
}