/* RTL CSS*/
html[dir="rtl"] .VA009-right-part > span,
html[dir="rtl"] .VA009-pay-amount > span,
html[dir="rtl"] .VA009-color-green,
html[dir="rtl"] .VA009-color-red {
    float: left;
}

html[dir="rtl"] .VA009-payment-wrap input,
html[dir="rtl"] ul.VA009-tabs > li,
html[dir="rtl"] ul.VA009-right-tabs > li,
html[dir="rtl"] .VA009-popform-data,
html[dir="rtl"] .VA009-popCheck-data {
    float: right;
}

html[dir="rtl"] .VA009-selectall > label,
html[dir="rtl"] .VA009-total-textDiv,
html[dir="rtl"] .VA009-icons-wrap > span,
html[dir="rtl"] .VA009-right-part > span {
    margin-left: 0;
}

html[dir="rtl"] .VA009-selectall > label {
    margin-right: 3px;
}

html[dir="rtl"] .VA009-total-textDiv,
html[dir="rtl"] .VA009-icons-wrap > span {
    margin-right: 15px;
}

html[dir="rtl"] .VA009-right-part > span {
    margin-right: 10px;
}

html[dir="rtl"] .VA009-pay-mid-sec > span.glyphicon-play {
    transform: rotate(180deg);
}

html[dir="rtl"] .VA009-padd-right-0 {
    padding-right: 15px;
    padding-left: 0;
}

html[dir="rtl"] .VA009-payment-list .row {
    margin-right: -15px;
    margin-left: -8px;
}

html[dir="rtl"] .VA009-popfrmradiowrp label {
    padding-left: 0;
    padding-right: 5px;
}

html[dir="rtl"] .VA009-payment-wrap {
    padding-right: 0;
    padding-left: 10px;
}

html[dir="rtl"] .VA009-middle-wrap {
    border-right: none;
    border-left: 1px solid rgba(var(--v-c-on-secondary), .2);
}

html[dir="rtl"] .VA009-popform-data:nth-child(odd) {
    padding-right: 0;
    padding-left: 7px;
}

html[dir="rtl"] .VA009-popform-data:nth-child(even) {
    padding-left: 0;
    padding-right: 7px;
}

html[dir="rtl"] .VA009-popCheck-data {
    padding-right: 0;
    padding-left: 8px;
}

.VA009-popfrmrow .VA009-popCheck-data:not(:only-child):last-child {
    padding-left: 0;
}
