.VA009-workflows-flyout {
    padding: 1rem;
    height: calc(100vh - 0px);
    background-color: rgba(var(--v-c-on-primary), 1);
    border-left: 1px solid rgba(var(--v-c-secondary), 1);
    z-index: 1;
    box-shadow: -4px 0px 11px 0px rgba(var(--v-c-secondary), 1);
}

.VA009-flyout-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

    .VA009-flyout-header h1 {
        margin: 0;
        font-size: 1rem;
        color: rgba(var(--v-c-on-common), 1);
    }

    .VA009-flyout-header a {
        font-size: 1rem;
        text-decoration: none;
    }

.VA009-payment-average {
    display: grid;
    grid-template-columns: 32% 66%;
    gap: 1rem;
    margin-top: 1.4rem;
}

.VA009-AgingAndCLV {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 1rem;
    margin-top: 1.4rem;
}

.VA009-average-graph {
    /*height:306px;*/
    /* width: 100%;
    padding: 0, 5px;*/
}

.VA009-cutomer-msg {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    background-color: #EEF8EA;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
}

    .VA009-cutomer-msg .fa {
        font-size: 1.1rem;
        color: #52B529;
    }

.VA009-content-group p {
    font-size: 0.875rem;
    margin-top: 0.75rem;
}

.VA009-sec-heading {
    font-size: 0.75rem;
    font-weight: 600;
    margin-top: 1.4rem;
}

.VA009-vendor-analysis-heading {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1.4rem;
}

.VA009-keyfeature-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.75rem;
}

.VA009-feature-box {
    height: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 96px;
}

    .VA009-feature-box .VA009-feaature-label {
        font-size: 0.75rem;
        text-transform: uppercase;
    }

    .VA009-feature-box .VA009-feature-value {
        font-size: 1.6rem;
        font-weight: 600;
    }

.VA009-status-yellow {
    background-color: #FCF9DE;
}

.VA009-status-green {
    background-color: #DCF0D4;
}

.VA009-status-red {
    background-color: #FCDCD7;
}

.VA009-action-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.75rem;
}

.VA009-action-box {
    border-radius: 6px;
    height: 96px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid #3E8CF2;
    flex-direction: column;
    padding: 0 1rem;
}

    .VA009-action-box .VA009-action-value {
        font-size: 0.875rem;
        font-weight: 600;
        color: #3E8CF2;
    }

    .VA009-action-box.VA009-red-box {
        border-color: #D72D13;
    }

.VA009-red-box .VA009-action-value {
    color: #D72D13;
}

.VA009-resize-window .VA009-payment-average, .VA009-resize-window .VA009-keyfeature-items, .VA009-resize-window .VA009-action-items {
    grid-template-columns: repeat(1, 1fr);
}

/***************************Vendor Analysis CSS *************************/
.VA009-vendor-analysis-container {
    display: grid;
    grid-template-columns: 46% 42%;
    gap: 3rem;
}

/***************************Vendor Analysis CSS *************************/

.invoice-row {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.invoice-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.invoice-left {
    display: flex;
    flex-direction: column;
}

.invoice-amount {
    font-weight: bold;
}

.invoice-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
}

.status-dot.overdue {
    background: #E53935;
}

.status-dot.pending {
    background: #FB8C00;
}

.status-dot.paid {
    background: #43A047;
}

@media (min-width: 768px) {
    .invoice-row {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr auto;
        align-items: center;
        padding: 12px;
    }

    .invoice-main, .invoice-footer {
        display: contents;
    }
}

.VA009-container {
    font-family: Arial, sans-serif;
    padding: 10px;
    height: 100%;
    overflow: hidden;
    /* background-color: #f9f9f9;
    border-radius: 5px;*/
}

.VA009-invoice-card {
    border-radius: 5px;
    height: calc(100% - 21px);
    display: flex;
    flex-direction: column;
    /*background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);*/
}

.VA009-invoice-list-wrapper {
    overflow-y: auto;
}

.VA009-table-header {
    display: flex;
    font-weight: bold;
    padding: 12px 0;
    /*border-bottom: 2px solid #ddd;
    background-color: #f7f7f7;*/
}

.VA009-col-invoice-lbl {
    width: 20%;
    text-align: left;
}

.VA009-col-amount-lbl,
.VA009-col-due-lbl,
.VA009-col-status-lbl,
.VA009-col-action-lbl {
    width: 20%;
    text-align: center;
}

.VA009-invoice-row {
    display: flex;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

    .VA009-invoice-row:hover {
        background-color: #f9f9f9;
    }

.VA009-invoice-main {
    display: flex;
    width: 80%;
}

.VA009-invoice-left {
    flex: 0.45;
}

.VA009-invoice-amount {
    width: 20%;
    text-align: center;
}

.VA009-invoice-footer {
    display: flex;
    justify-content: space-between;
    /*  align-items: center;*/
}

.VA009-status-badge {
    display: flex;
    align-items: center;
}

.VA009-status-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
}

.VA009-overdue {
    background-color: #ff4d4d;
}

.VA009-pending {
    background-color: #ffa500;
}

.VA009-paid {
    background-color: #28a745;
}

.VA009-vas-igwidg-notfounddiv {
    text-align: center;
    padding: 20px;
    color: #999;
    font-size: 16px;
    font-style: italic;
}

/* Tabs are hidden but logic is still active */
.VA009-tabs {
    /*display: none;*/
}

.tabs {
    display: flex;
    border-bottom: 1px solid #cdcdcd;
}

.tab {
    padding: 0.75rem 1.5rem;
    font-size: 0.875rem;
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.2s;
}

    .tab.active {
        color: #19332d;
        border-bottom-color: black;
    }

.VA009-table {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.VA009-table-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
    /* background-color: #f4f4f4;*/
}

.VA009-invoice-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

    .VA009-invoice-row > div:not(.VA009-col-invoice-doc) {
        flex: 1; /* Each child div will take equal space */
        text-align: center;
    }

.VA009-status-badge {
    display: flex;
    align-items: center;
    justify-content: center;
}

.VA009-status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

    .VA009-status-dot.overdue {
        background-color: red;
    }

    .VA009-status-dot.paid {
        background-color: green;
    }

.VA009-icon-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.VA009-col-invoice-doc {
    flex: 1;
    text-align: left;
}

.VA009-col-amount, .VA009-col-due, .VA009-col-status, .VA009-col-action {
    /*padding: 5px;*/
    text-align: center;
}

.VA009-scheduledata-Paging {
    align-items: center;
    background: #fff;
    bottom: 0;
    display: flex;
    justify-content: end;
    margin-top: 10px;
    position: sticky;
}

.VA009-invoice-date {
    font-size: 12px;
    color: #666; /* Light grey or any other color you prefer */
    margin-top: 4px; /* Space between the invoice number and the date */
}
